* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

body,
html {
  width: 100%;
  height: 100%;
}

#app {
  padding: 20px;
}

.calculator-wrap {
  display: flex;
  flex-flow: wrap;

  li {
    margin: 0 10px 10px 0;
  }

  .appender {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 416px;
    background: #ddd;
    color: #666;
    border: none;
    border-radius: 5px;
    position: relative;
    box-shadow: 3px 3px 3px #aaa;
    transition: 0.3s;

    &:hover {
      background: #eee;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: #888;
    }

    $size: 15px;
    &::before {
      left: calc(50% - #{$size});
      right: calc(50% - #{$size});
      height: 3px;
    }

    &::after {
      top: calc(50% - #{$size});
      bottom: calc(50% - #{$size});
      width: 3px;
    }
  }
}

.calculator {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background: #333;
  color: #fff;
  transition: 0.3s;
  box-shadow: 3px 3px 3px #aaa;

  &.hiding {
    .header,
    .number-screen,
    .number-pad-container {
      display: none;
    }

    width: auto;
  }

  .hide-box {
    background: transparent;
    border: none;
    display: block;
    color: rgba(#fff, 0.7);
    margin: -10px;
    padding: 10px;
  }

  .header {
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      font-size: 12px;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.5);

      &.close {
        background: #f99;
      }

      &.hide {
        background: #ff9;
        margin-left: 5px;
      }
    }
  }

  .number-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    height: 60px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 20px;
    color: rgba(#fff, 0.6);
    border-radius: 5px;
    box-shadow: inset 0 0 3px #000;
  }

  .number-pad-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    button {
      background: rgba(0, 0, 0, 0.1);
      border: none;
      height: 60px;
      color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0 0 3px #000;
      font-size: 20px;
    }

    > div {
      display: flex;

      &.operators {
        &.rows {
          width: 100%;
          flex-wrap: wrap;

          > button {
            width: 75%;
          }
        }

        &.cols {
          position: absolute;
          top: 0;
          right: 0;
          flex-direction: column;
          width: 25%;

          > button.big {
            height: 120px;
          }
        }
      }

      &.numbers {
        width: 75%;
        flex-flow: wrap;
        flex-direction: row-reverse;

        > button {
          width: calc(100% / 3);
        }

        > button.big {
          width: calc(200% / 3);
        }
      }
    }
  }
}
